/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 10px;
}

/* Navigation bar  */
/* Navigation bar: Logo and Image */
#logo{
    margin: 25px 25px;
}

#logo img{
    height: 50px;
    margin: 0px 0px;

}

#navbar{
    display: flex; 
    align-items: center;
    position: relative;
    
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
    top: 0px;
    left: 0px;

}

/* Navigation bar: List styling  */
#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai 2', cursive;
}

#navbar ul li{
    list-style: none;
    font-size: 1rem;
}

#navbar ul li a{
   color: white;
   display: block;
   padding: 5px 20px;
   border-radius: 20px;
   text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
} 

/* Hero Section  */

.heroSection{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -2;
}

.background{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    object-fit: cover;

    transform: translateZ(-25px) scale(4);

}
h1{

    position: absolute;
    top: 25rem;
    left: 50%;
    transform: translate(-50%);
    text-transform: uppercase;
    letter-spacing: 4px;
    color: white;
    font-size: 10rem;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}


section {
    background-color: #006064;
    color: white;
    padding: 5rem 0;
  }

.bg-1{
    background-image: url(img/audience.jpg);
}
.bg-2{
    background-image: url(img/value.jpg);
}
.bg-3{
    background-image: url(img/consistent.jpg);
}
.secheading{
    font-size: 5rem;
    padding: 0 10rem;
}

.text {
    font-size: 1.5rem;
    padding: 0 10rem;
    margin: 5rem 0;
}
.bg{
    position: relative;
    width: 100%;
    background-attachment: fixed;
    height: 500px;
    background-size: cover;
    background-position: center;
}
.desc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: white;
    padding: 0.5rem 2.5rem;
    color: black;
  }

  .desc p {
    font-size: 3.5rem;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
  }

